body, html {
  height: 100%;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

nav {
  background: rgba(0,0,0,0.8);
}

nav ul {
  width: 1020px;
  margin: 0px auto;
}

nav ul li {
  width: 145px;
  list-style-type: none;
  float: left;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}

h2 {
  margin-left: 445px;
  color: whitesmoke;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  border-bottom: 2px solid whitesmoke;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  margin: 0;
  height: 100vh;
  
  background-image:
    linear-gradient(-45deg, #8FBC8F, #E9967A, #006400, #C9D6FF, #DC143C),
    url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=1470&q=80");
    
  background-repeat: no-repeat, no-repeat;
  background-size: 400% 400%, cover;
  background-position: 0% 50%, center;
  
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%, center;
  }
  50% {
    background-position: 100% 50%, center;
  }
  100% {
    background-position: 0% 50%, center;
  }
}

main h1, main h2 {
  font-size: 90px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: whitesmoke;
}

main p {
  font-size: 45px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: whitesmoke;
}

footer p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: whitesmoke;
}
